*.pyc
dist
build
__pycache__
dirbs.egg-info
*-venv
venv*
.DS_Store
.eggs
.coverage
.cache
coverage.xml
dirbs-testreport.xml
*.bak
*.sublime-*
tests/data
data
docker/compose/jtbeach2.yml
logs/*
.idea
.coverage*
.pytest_cache
