click==6.7
Flask==1.0.2
luhn==0.2.0
psycopg2==2.7.4 --no-binary psycopg2
python-dateutil==2.6.1
PyYAML==3.12
statsd==3.2.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
six==1.11.0
Werkzeug==0.14.1
marshmallow==2.16.0
webargs==5.1.3
apispec==0.31.0
flask-apispec==0.4.2
